html { font: 20pt/1.5 Catamaran, sans-serif; }
body { margin: 7rem auto; max-width: 33rem; font-size: 1.1rem;}
a { text-decoration: none; border-bottoem: 1px solid currentcolor; }
a { color: #6660a0; }
a:hover { color: red }
